.users {
    padding: 0;
    width: 80%;
    text-align: center;
    margin: 45px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h4 {
    margin: 6px 0;
}

p {
    font-size: 12px;
}

.users div {
    margin: 0 auto;
    padding: 20px;
}

.person {
    min-width: 270px;
}

img {
    border-radius: 50%;
    filter: grayscale(100%);
    transition: 0.4s;
    box-shadow: 0px 0px 40px 3px rgba(0, 0, 0, 0.60);
}

.users div:hover>img {
    filter: grayscale(20%);
}